<%- include("./partials/header.ejs") %>

      <div class="container">
<div class="date-div all-div item">
  <%= actualDate %>
</div>
<% newToDo.forEach((newDivWork)=>{ %>
  <%- newDivWork %>
  <% }) %>
  
  <form class="form-list item" action="/workSubmit" method="POST">
    <input class= "text-list" type="text" name="newToDoWorkList" placeholder="Create a new todo list" />
    <input class="submit-list" type="submit" value="+" />
  </form>
      </div>

      <%- include("./partials/footer.ejs") %>