body{
    background-color: rgb(210, 224, 236); 
    /* display: grid;
    grid-template-rows: 50% 50% 50%;
    grid-template-columns: 50% 50% 50%;
*/
font-family: Ysabeau Infant, sans-serif;

}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* justify-items: center; */
    align-items: center;
    /* width: 250px; */
    /* background-color: pink; */

    background-color: rgb(245, 132, 151);
    width: 370px;
    border-top: solid rgb(245, 132, 151) 10px;
    border-bottom: solid rgb(245, 132, 151) 10px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    
}

.item{
    display: flex;
/* justify-content: center; */
    min-height: 60px;
    width: 350px;
    /* margin: 2px; */
    border-top: solid rgb(109, 82, 82) 2px;
    border-right: solid rgb(109, 82, 82) 2px;
    border-left: solid rgb(109, 82, 82) 2px;
    border-radius: 5px;
    /* color: white; */
    background-color: pink;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
    justify-content: left;
    /* align-content: center; */
    align-items: center;
    /* margin-left: 39.25%; */
}

.form-list{
    border-bottom: solid rgb(109, 82, 82) 2px;
}

.submit-list{
    background-color: rgb(185, 88, 112);
    border: none;
    border-radius: 50%;
    color: white;
    min-width: 35px;
    min-height: 35px;
}

.text-list{
    width: 280px;
    text-align: center;
    border: none;
    background-color: pink;
    min-height: 50px;
    background: transparent;
    outline: none;

}



.date-div{
    margin-bottom: 25px;
    min-height: 50px;
    border-bottom: solid rgb(109, 82, 82) 2px;
    box-shadow: none;
    text-align: center;
    justify-content: center;
    /* background-color: rgb(153, 72, 34); */
    /* border: none; */
}

  
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    font-weight: 600;
    /* height: 2.5rem; */
    /* text-align: center; */
    /* height: 100vh;            Footer height */
    /* background-color: rgb(210, 224, 236); */
  }

.nav-link, .nav-item:link{
color: rgb(236, 16, 53);
}

.nav-link:hover{
    color: rgb(177, 14, 41);
}

.fs-4{
    color: rgb(145, 77, 46);
    padding-left: 10px;
}

.strike-through:checked + .strike-this{
    font-weight: 50;
    text-decoration-line: line-through;
}

.strike-through{
    float: left;
    accent-color: rgb(151, 119, 80);
    /* outline: none; */
}

.strike-this{
    text-align: left;
    padding-left: 5px;
}